Source: count-files
Section: utils
Priority: optional
Maintainer: Skadi <olegsashko228@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: https://github.com/skadi-eng/SPAOS

Package: count-files
Architecture: all
Depends: ${misc:Depends}, bash, coreutils, findutils
Description: Script to count regular files in /etc
 A Bash script that counts the number of regular files
 in the /etc directory, excluding directories and
 symbolic links.
